<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujiale.springbootsystem.mapper.AdviceMapper">
    <select id="getAdviceList" resultType="com.wujiale.springbootsystem.entity.Advice">
        select * from t_advice
    </select>
    <insert id="addAdvice">
        INSERT INTO t_advice VALUES (#{advice.username},#{advice.comment},#{advice.date},#{advice.type})
    </insert>
</mapper>